-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: 127.0.0.1    Database: u504065335_to_quran
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `punishment_types`
--

DROP TABLE IF EXISTS `punishment_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `punishment_types` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `decrease_point` int(10) DEFAULT NULL,
  `active` int(11) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `punishment_types`
--

LOCK TABLES `punishment_types` WRITE;
/*!40000 ALTER TABLE `punishment_types` DISABLE KEYS */;
INSERT INTO `punishment_types` VALUES (1,'Minor Slip',2,1),(2,'Serious Action',5,1);
/*!40000 ALTER TABLE `punishment_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `punishments_suggestions`
--

DROP TABLE IF EXISTS `punishments_suggestions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `punishments_suggestions` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `punishment_type_id` int(10) NOT NULL,
  `suggestion_text` text NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `punishments_suggestions`
--

LOCK TABLES `punishments_suggestions` WRITE;
/*!40000 ALTER TABLE `punishments_suggestions` DISABLE KEYS */;
INSERT INTO `punishments_suggestions` VALUES (1,1,'Use the meeting-defined consequence for this minor slip.'),(2,1,'Short reflection and repair action agreed in the family meeting.'),(3,1,'Repeat or repair the missed routine with parent support.'),(4,2,'Use the meeting-defined consequence for this serious action.'),(5,2,'Pause an agreed privilege according to the family meeting decision.'),(6,2,'Repair the harm and discuss the next step with a parent.');
/*!40000 ALTER TABLE `punishments_suggestions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `punishment_agreements`
--

DROP TABLE IF EXISTS `punishment_agreements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `punishment_agreements` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `student_id` int(10) NOT NULL,
  `title` varchar(255) NOT NULL,
  `punishment_type_id` int(10) NOT NULL,
  `status` enum('active','inactive') NOT NULL DEFAULT 'active',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_pa_student_type_title` (`student_id`,`punishment_type_id`,`title`),
  KEY `idx_pa_student_id` (`student_id`),
  KEY `idx_pa_punishment_type_id` (`punishment_type_id`)
) ENGINE=InnoDB AUTO_INCREMENT=68 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `punishment_agreements`
--

LOCK TABLES `punishment_agreements` WRITE;
/*!40000 ALTER TABLE `punishment_agreements` DISABLE KEYS */;
/*!40000 ALTER TABLE `punishment_agreements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reward_discipline_transfer`
--

DROP TABLE IF EXISTS `reward_discipline_transfer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reward_discipline_transfer` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `status` enum('active','inactive') NOT NULL DEFAULT 'active',
  `points` int(10) NOT NULL,
  `description` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `type` enum('Positive','Slip','No Way') DEFAULT NULL,
  `discipline_icon_id` int(11) DEFAULT NULL,
  `discipline_icon_path` text DEFAULT NULL,
  `sort` int(10) DEFAULT NULL,
  `teacher_desc` tinyint(1) NOT NULL DEFAULT 0,
  `selected` int(10) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `idx_rdt_discipline_icon_id` (`discipline_icon_id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reward_discipline_transfer`
--

LOCK TABLES `reward_discipline_transfer` WRITE;
/*!40000 ALTER TABLE `reward_discipline_transfer` DISABLE KEYS */;
/*!40000 ALTER TABLE `reward_discipline_transfer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reward_discipline_points`
--

DROP TABLE IF EXISTS `reward_discipline_points`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reward_discipline_points` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `status` enum('active','inactive') NOT NULL DEFAULT 'active',
  `student_id` int(10) NOT NULL,
  `points` int(10) NOT NULL,
  `description` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `type` enum('Positive','Slip','No Way') DEFAULT NULL,
  `discipline_icon_id` int(11) DEFAULT NULL,
  `discipline_icon_path` text DEFAULT NULL,
  `sort` int(10) DEFAULT NULL,
  `teacher_desc` tinyint(1) NOT NULL DEFAULT 0,
  `selected` int(10) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `idx_rdp_student_id` (`student_id`),
  KEY `idx_rdp_discipline_icon_id` (`discipline_icon_id`)
) ENGINE=InnoDB AUTO_INCREMENT=133 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reward_discipline_points`
--

LOCK TABLES `reward_discipline_points` WRITE;
/*!40000 ALTER TABLE `reward_discipline_points` DISABLE KEYS */;
/*!40000 ALTER TABLE `reward_discipline_points` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-05 23:03:36
