-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: 127.0.0.1    Database: u504065335_to_quran
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `general_library_folders`
--

DROP TABLE IF EXISTS `general_library_folders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `general_library_folders` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `parent_id` bigint(20) unsigned DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `description` varchar(500) DEFAULT NULL,
  `status` enum('active','archived') NOT NULL DEFAULT 'active',
  `source_label` varchar(40) DEFAULT NULL,
  `content_mode` enum('mixed','sources_only') NOT NULL DEFAULT 'mixed',
  `sort_order` int(10) unsigned NOT NULL DEFAULT 0,
  `created_by_user_id` int(11) NOT NULL,
  `updated_by_user_id` int(11) DEFAULT NULL,
  `archived_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `general_library_folders_parent_status_sort_idx` (`parent_id`,`status`,`sort_order`),
  KEY `general_library_folders_creator_status_idx` (`created_by_user_id`,`status`),
  KEY `general_library_folders_status_sort_idx` (`status`,`sort_order`),
  KEY `general_library_folders_updated_by_fk` (`updated_by_user_id`),
  CONSTRAINT `general_library_folders_created_by_fk` FOREIGN KEY (`created_by_user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `general_library_folders_parent_fk` FOREIGN KEY (`parent_id`) REFERENCES `general_library_folders` (`id`),
  CONSTRAINT `general_library_folders_updated_by_fk` FOREIGN KEY (`updated_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `general_library_folders`
--

LOCK TABLES `general_library_folders` WRITE;
/*!40000 ALTER TABLE `general_library_folders` DISABLE KEYS */;
/*!40000 ALTER TABLE `general_library_folders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `general_library_resources`
--

DROP TABLE IF EXISTS `general_library_resources`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `general_library_resources` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `general_library_folder_id` bigint(20) unsigned DEFAULT NULL,
  `resource_type` enum('file','link','youtube') NOT NULL,
  `title` varchar(255) NOT NULL,
  `description` varchar(500) DEFAULT NULL,
  `status` enum('active','archived','unavailable') NOT NULL DEFAULT 'active',
  `source_label` varchar(40) DEFAULT NULL,
  `storage_disk` varchar(40) DEFAULT NULL,
  `file_path` varchar(1024) DEFAULT NULL,
  `original_filename` varchar(255) DEFAULT NULL,
  `mime_type` varchar(255) DEFAULT NULL,
  `file_size` bigint(20) unsigned DEFAULT NULL,
  `external_url` varchar(2048) DEFAULT NULL,
  `sort_order` int(10) unsigned NOT NULL DEFAULT 0,
  `created_by_user_id` int(11) NOT NULL,
  `updated_by_user_id` int(11) DEFAULT NULL,
  `archived_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `general_library_resources_folder_status_sort_idx` (`general_library_folder_id`,`status`,`sort_order`),
  KEY `general_library_resources_creator_status_idx` (`created_by_user_id`,`status`),
  KEY `general_library_resources_status_sort_idx` (`status`,`sort_order`),
  KEY `general_library_resources_file_path_idx` (`file_path`(191)),
  KEY `general_library_resources_updated_by_fk` (`updated_by_user_id`),
  CONSTRAINT `general_library_resources_created_by_fk` FOREIGN KEY (`created_by_user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `general_library_resources_folder_fk` FOREIGN KEY (`general_library_folder_id`) REFERENCES `general_library_folders` (`id`),
  CONSTRAINT `general_library_resources_updated_by_fk` FOREIGN KEY (`updated_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=120 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `general_library_resources`
--

LOCK TABLES `general_library_resources` WRITE;
/*!40000 ALTER TABLE `general_library_resources` DISABLE KEYS */;
/*!40000 ALTER TABLE `general_library_resources` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quran_library_surahs`
--

DROP TABLE IF EXISTS `quran_library_surahs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `quran_library_surahs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `surah_number` tinyint(3) unsigned NOT NULL,
  `title` varchar(255) NOT NULL,
  `title_ar` varchar(255) DEFAULT NULL,
  `ayah_count` smallint(5) unsigned DEFAULT NULL,
  `description` varchar(500) DEFAULT NULL,
  `status` enum('active','archived') NOT NULL DEFAULT 'active',
  `source_label` varchar(40) DEFAULT 'Original',
  `sort_order` int(10) unsigned NOT NULL DEFAULT 0,
  `created_by_user_id` int(11) DEFAULT NULL,
  `updated_by_user_id` int(11) DEFAULT NULL,
  `archived_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `quran_library_surahs_surah_number_unique` (`surah_number`),
  KEY `quran_library_surahs_status_sort_idx` (`status`,`sort_order`),
  KEY `quran_library_surahs_created_by_fk` (`created_by_user_id`),
  KEY `quran_library_surahs_updated_by_fk` (`updated_by_user_id`),
  CONSTRAINT `quran_library_surahs_created_by_fk` FOREIGN KEY (`created_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `quran_library_surahs_updated_by_fk` FOREIGN KEY (`updated_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quran_library_surahs`
--

LOCK TABLES `quran_library_surahs` WRITE;
/*!40000 ALTER TABLE `quran_library_surahs` DISABLE KEYS */;
/*!40000 ALTER TABLE `quran_library_surahs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quran_library_videos`
--

DROP TABLE IF EXISTS `quran_library_videos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `quran_library_videos` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `quran_library_surah_id` bigint(20) unsigned NOT NULL,
  `title` varchar(255) NOT NULL,
  `subtitle` varchar(255) DEFAULT NULL,
  `ayah_from` smallint(5) unsigned DEFAULT NULL,
  `ayah_to` smallint(5) unsigned DEFAULT NULL,
  `youtube_url` varchar(2048) NOT NULL,
  `youtube_embed_url` varchar(2048) NOT NULL,
  `description` varchar(500) DEFAULT NULL,
  `status` enum('active','archived','unavailable') NOT NULL DEFAULT 'active',
  `source_label` varchar(40) DEFAULT 'Original',
  `sort_order` int(10) unsigned NOT NULL DEFAULT 0,
  `created_by_user_id` int(11) DEFAULT NULL,
  `updated_by_user_id` int(11) DEFAULT NULL,
  `archived_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `quran_library_videos_surah_status_sort_idx` (`quran_library_surah_id`,`status`,`sort_order`),
  KEY `quran_library_videos_status_sort_idx` (`status`,`sort_order`),
  KEY `quran_library_videos_created_by_fk` (`created_by_user_id`),
  KEY `quran_library_videos_updated_by_fk` (`updated_by_user_id`),
  CONSTRAINT `quran_library_videos_created_by_fk` FOREIGN KEY (`created_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `quran_library_videos_surah_fk` FOREIGN KEY (`quran_library_surah_id`) REFERENCES `quran_library_surahs` (`id`),
  CONSTRAINT `quran_library_videos_updated_by_fk` FOREIGN KEY (`updated_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quran_library_videos`
--

LOCK TABLES `quran_library_videos` WRITE;
/*!40000 ALTER TABLE `quran_library_videos` DISABLE KEYS */;
/*!40000 ALTER TABLE `quran_library_videos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `attachment_files`
--

DROP TABLE IF EXISTS `attachment_files`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `attachment_files` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `type` enum('file','link','youtube') NOT NULL,
  `path` text NOT NULL,
  `file_size` int(10) DEFAULT NULL,
  `sort_order` int(10) unsigned NOT NULL DEFAULT 0,
  `subject_id` int(10) DEFAULT NULL,
  `class_id` int(10) DEFAULT NULL,
  `teacher_subject_class_id` int(10) NOT NULL,
  `session_task_id` int(10) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_af_session_task_id` (`session_task_id`),
  KEY `idx_af_task_sort` (`session_task_id`,`sort_order`,`id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attachment_files`
--

LOCK TABLES `attachment_files` WRITE;
/*!40000 ALTER TABLE `attachment_files` DISABLE KEYS */;
/*!40000 ALTER TABLE `attachment_files` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-13 15:50:56
