-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: 127.0.0.1    Database: u504065335_to_quran
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `discipline_icons`
--

DROP TABLE IF EXISTS `discipline_icons`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `discipline_icons` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `path` longtext NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `discipline_icons`
--

LOCK TABLES `discipline_icons` WRITE;
/*!40000 ALTER TABLE `discipline_icons` DISABLE KEYS */;
INSERT INTO `discipline_icons` VALUES (1,'images/discipline/respect.png');
/*!40000 ALTER TABLE `discipline_icons` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reward_discipline_transfer`
--

DROP TABLE IF EXISTS `reward_discipline_transfer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reward_discipline_transfer` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `status` enum('active','inactive') NOT NULL DEFAULT 'active',
  `points` int(10) NOT NULL,
  `description` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `type` enum('Positive','Slip','No Way') DEFAULT NULL,
  `discipline_icon_id` int(11) DEFAULT NULL,
  `discipline_icon_path` text DEFAULT NULL,
  `sort` int(10) DEFAULT NULL,
  `teacher_desc` tinyint(1) NOT NULL DEFAULT 0,
  `selected` int(10) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `idx_rdt_discipline_icon_id` (`discipline_icon_id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reward_discipline_transfer`
--

LOCK TABLES `reward_discipline_transfer` WRITE;
/*!40000 ALTER TABLE `reward_discipline_transfer` DISABLE KEYS */;
/*!40000 ALTER TABLE `reward_discipline_transfer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reward_discipline_points`
--

DROP TABLE IF EXISTS `reward_discipline_points`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reward_discipline_points` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `status` enum('active','inactive') NOT NULL DEFAULT 'active',
  `student_id` int(10) NOT NULL,
  `points` int(10) NOT NULL,
  `description` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `type` enum('Positive','Slip','No Way') DEFAULT NULL,
  `discipline_icon_id` int(11) DEFAULT NULL,
  `discipline_icon_path` text DEFAULT NULL,
  `sort` int(10) DEFAULT NULL,
  `teacher_desc` tinyint(1) NOT NULL DEFAULT 0,
  `selected` int(10) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `idx_rdp_student_id` (`student_id`),
  KEY `idx_rdp_discipline_icon_id` (`discipline_icon_id`)
) ENGINE=InnoDB AUTO_INCREMENT=133 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reward_discipline_points`
--

LOCK TABLES `reward_discipline_points` WRITE;
/*!40000 ALTER TABLE `reward_discipline_points` DISABLE KEYS */;
/*!40000 ALTER TABLE `reward_discipline_points` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_session_discipline`
--

DROP TABLE IF EXISTS `student_session_discipline`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student_session_discipline` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `discipline_icon_id` int(10) NOT NULL,
  `discipline_icon_path` longtext NOT NULL,
  `student_reward_discipline_id` int(10) DEFAULT NULL,
  `class_session_id` int(10) DEFAULT NULL,
  `teacher_subject_classes_id` int(10) NOT NULL,
  `student_id` int(10) NOT NULL,
  `points` int(10) NOT NULL,
  `description` text DEFAULT NULL,
  `type` enum('Positive','Slip','No Way') NOT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_ssd_student_id` (`student_id`),
  KEY `idx_ssd_discipline_icon_id` (`discipline_icon_id`),
  KEY `idx_ssd_class_session_id` (`class_session_id`),
  KEY `idx_ssd_teacher_subject_classes_id` (`teacher_subject_classes_id`),
  KEY `idx_ssd_student_reward_discipline_id` (`student_reward_discipline_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_session_discipline`
--

LOCK TABLES `student_session_discipline` WRITE;
/*!40000 ALTER TABLE `student_session_discipline` DISABLE KEYS */;
INSERT INTO `student_session_discipline` VALUES (1,'Completed Quran or Salah task with care',1,'images/discipline/respect.png',121,NULL,49,12,5,NULL,'Positive','2026-06-05 16:53:04','2026-06-05 16:53:04'),(2,'Missed an agreed routine after reminder',1,'images/discipline/respect.png',122,NULL,49,12,2,NULL,'Slip','2026-06-05 16:53:14','2026-06-05 16:53:14');
/*!40000 ALTER TABLE `student_session_discipline` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-05 23:58:44
